.banner
{
    width: 99vw;
    height: 31vw;
    border-radius: 25px;
    z-index: -9999;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    filter: brightness(1);
    margin-top: 62px;
}
body
{
    background-color: black;
}
.contact_form
{
    width: 100vw;
    display: flex;
    flex-direction: column;
    row-gap: 6vmax;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.contact_form_items
{
    width: 90%;
    height: 5vmax;
    font-size: 2vmax;
    border-radius: 7px;
    transition-duration: 0.3s;
    border: none;
    outline: none;
    padding: 5px;
}
.message
{
    height: 30vmax;
    word-break: break-all;
    resize: none;
}
.contact_submit_button
{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    outline: none;
    border-radius: 25px;
    height: 6vmax;
    width: 21vw;
    transition-duration: 0.3s;
}
.contact_submit_button:hover
{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 27px 2px skyblue;
}
.name
{
  background-color: black;
  color: rgb(255, 255, 255);
  box-shadow: 0 0 27px 2px burlywood;
}
.message
{
  background-color: black;
  color: rgb(255, 255, 255);
  box-shadow: 0 0 27px 2px yellow;
}
.email
{
  background-color: black;
  color: rgb(255, 255, 255);
  box-shadow: 0 0 27px 2px green;
}
.response
{
    color: white;
    font-size: 20px;
}
